= form_tag notifications_path do
  = email_field_tag :user_email, nil, placeholder: "teammember@example.com", required: true
  = select_tag :role, options_for_select(["chef", "cook"])
  = submit_tag "Invite Team Member"
