.invite-user-form.rounded
  = form_tag notifications_path, class: "flex flex-column items-center" do
    = email_field_tag :user_email, nil, placeholder: "teammember@example.com", required: true
    = select_tag :role, options_for_select(["cook", "chef"]), class: "role-select"
    = submit_tag "Invite Team Member"
