= form_tag chef_restaurant_recipes_path(current_restaurant), class: "create-recipe" do
  %h3.m1
    New Recipe
  .recipe-info.py1
    = text_field_tag :recipe_name, nil, placeholder: "recipe name", class: "mx2", required: true
    = text_field_tag :recipe_station, nil, placeholder: "recipe station", class: "mx2", required: true
  .clearfix.mx3
    .ingredients.col.col-6
      %h4.m0
        Ingredients
      %button.add_ingredient.px1.m1.rounded{type: "button", onClick: "addIngredient('ingredient-field')"}
        Add Ingredient
      #ingredient-field

    .instructions.col.col-6
      %h4.m0
        Instructions
      %button.add_instruction.px1.m1.rounded{type: "button", onClick: "addInstruction('instruction-field')"}
        Add Step
      #instruction-field
  = submit_tag "Recipe Complete", class: "finish-recipe p1 m1 rounded bold"
