= link_to "Back to recipe", restaurant_recipe_path(current_restaurant, @recipe), class: "recipe-header m2"
.recipe-index
  - @images.each do |image|
    .index-recipe-image.flex.items-center.m2
      = image_tag(image.recipe_image_url.to_s)
      %p
        = image.caption
