= link_to "Back to recipe", restaurant_recipe_path(current_restaurant, @recipe), class: "recipe-header m2"
.recipe-index
  - @images.each do |image|
    .index-recipe-image.flex.flex-column.items-center.m2
      = image_tag(image.recipe_image_url(:index).to_s)
      %p
        = image.caption
        = link_to "Delete Image", chef_restaurant_recipe_image_path(current_restaurant, @recipe, image), method: :delete
