$background-gray: #b4b9c15A;
$background-ivory: #fdfff05A;

@mixin header {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    line-height: 46px;
    font-size: 36px;
    margin: 0 0 23px 0;
}

@mixin sub-header {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
}

@mixin text {
  font-family: 'Cantarell', sans-serif;
  font-weight: lighter;
  line-height: 25px;
  margin: 0 0 23px 0;
}

@mixin sm-text {
  @include text;
  font-size: 15px;
}

@mixin m-text {
  @include text;
  font-size: 20px;
}


@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin column-start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin center-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
