@import 'vars_mixins';

body {
  margin: 0;
  min-height: 760px;
  background-image: image-url("paper_background.png");
  a {
    text-decoration: none;
    color: black;
  }
}

.notice {
  @include text;
  background-color: $background-ivory;
}

#main {
  transition: margin-left 0.5s;
  margin-bottom: 35px;
}

.hidden {
  display: none;
}

.favorited {
  color: yellow;
}

.welcome-header {
  h2 { width: 187px; }
  @include header;
  height: 130px;
  min-width: 400px;
}

.user-nav {
  @include sub-header;
  @include center-flex-row;
  background-color: $background-gray;
  height: 62px;
  a {
    padding: 5px;
    margin: 0 15px;
    border-radius: 3px;
    &:hover { color: white; }
  }
}

.stations-nav {
  @include sub-header;
  @include center-flex-row;
  padding: 3px;
  height: 50px;
  background-color: $dark-background-gray;
  @include text-no-margin;
  overflow-x: scroll;
  a {
    background-color: #fffef45f;
    box-shadow: 0px 2px 5px #8888885f;
    padding: 5px;
    margin: 0 15px;
    border-radius: 3px;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: 0.1s;
     }
  }
}

.welcome-options {
  @include sub-header;
  @include center-flex-row;
  height: 62px;
  background-color: $background-gray;
  .option {
    @include column-start;
    width: 32%;
  }
}

.drop {
  position: absolute;
  top: 240px;
  padding: 10px;
  background: $background-gray;
  width: 230px;
  border-radius: 3px;
  form {
    input {
      margin: 10px;
      width: 200px;
     }
    @include column-center;
  }
  @include column-center;
}
.about-div{
  width: 700px;
  margin: 0 auto;
  border-radius: 3px;
  .about-text {
    @include m-text;
    display: block;
    text-align: center;
  }
}

.invite-user-form, .update-restaurant-form {
  background: $background-gray;
  padding: 15px;
  width: 400px;
  margin: 40px auto;
  input{
    width: 350px;
    margin-top: 35px;
    margin-bottom: 15px;
   }
  .role-select {
    background-color: $background-ivory;
    width: 150px;
    height: 40px;
    @include sub-header;
  }
}
