@import 'vars_mixins';

body {
  margin: 0;
  min-height: 760px;
  background-image: image-url("paper_background.png");
  a {
    text-decoration: none;
    color: black;
  }
}

#main {
  transition: margin-left 0.5s;
}

.hidden {
  display: none;
}

.welcome-header {
  h2 { width: 187px; }
  @include header;
  height: 130px;
  min-width: 400px;
}

.welcome-options {
  @include sub-header;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-gray;
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
  }
}

.drop {
  position: absolute;
  top: 240px;
  padding: 10px;
  background: $background-gray;
  width: 230px;
  border-radius: 3px;
  form {
    input {
      margin: 10px;
      width: 200px;
     }
    @include column-center;
  }
  @include column-center;
}
.about-div{
  width: 700px;
  margin: 0 auto;
  border-radius: 3px;
  .about-text {
    @include m-text;
    display: block;
    text-align: center;
  }
}
