@import 'vars_mixins';

.create-recipe {
  @include text;
  @include column-center;
  max-width: 85vw;
  margin: 50px auto;
}

.recipe-header, .recipe-station {
  @include sub-header;
}

.recipe-image-crop-outer {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .recipe-image-crop-inner {
    position: absolute;
  }
}

.recipe-ingredients, .instructions-container {
  @include column-center;
  @include text;
  table {
    border-collapse: separate;
    border-spacing: 10px;
  }
  .instruction {
    min-width: 500px;
  }
  .edit-ingredient {
    min-width: 209px;
  }
}

.ingredient-data, .instruction {
  background-color: $background-ivory;
  border-width: 1px;
  border-style: inset;
  padding: 0.5em;
  font: 400 20px system-ui;
}

.recipe-info {
  @include center-flex-row;
  input { width: 250px; }
}

.recipe-details-headers {
  width: 800px;
}

.recipe-details-body {
  width: 830px;
}

.create-recipe-details {
  background-color: $dark-background-gray;
  padding: 0px 25px 25px 25px;
  .instruction {
    width: 300px;
  }
}

.ingredient-row {
  width: 435px;
}

.specific-ingredient {
  min-width: 209px;
}

.qty, .unit {
  width: 50px;
}

.update-recipe {
  width: 233px;
  height: 60px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
}

.delete-recipe {
  display: flex;
  justify-content: center;
  width: 168px;
  height: 43px;
  display: block;
  margin: 5px auto;
  font-size: 18px;
  button {
    width: 99%;
    height: 99%;
    font-weight: bold;
    background-color: #f445423f;
  }
}

button, .finish-recipe {
  @include sm-text;
  background-color: $background-ivory;
  margin: auto;
}

input {
  background-color: $background-ivory;
  padding: 0.5em;
  margin: 5px;
  font: 400 20px system-ui;
}

.recipe-index {
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include text-no-margin;
}

.thumb-image {
  position: absolute;
  height: 150px;
  width: 200px;
  overflow: hidden;
  .index-image {
    z-index: 1;
    opacity: 0.9;
  }
}

.index-recipe {
  p, i {
    z-index: 2;
  }
  p {
    padding: 2px;
    background-color: $midground-ivory;
  }
  border-radius: 3px;
  box-shadow: 0px 1px 13px #0000003f;
  &:hover {
    transform: scale(1.1, 1.1);
    transition: 0.1s;
  }
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  background-color: $background-ivory;
}

.create-recipe-header {
  width: 600px;
  background-color: $background-gray;
}

.comment-form {
  width: 500px;
  padding: 15px;
  @include column-center;
  #body {
    padding: 10px;
    border-style: inset;
    min-height: 200px;
    width: 600px;
    font-size: 18px;
  }
  input {
    @include text-no-margin;
    margin: 10px;
  }
}

.recipe-comment {
  @include text;
  padding: 15px;
  width: 600px;
  background-color: #ffffffb0;
  box-shadow: 1px 2px 100px $background-gray;
}
