@import 'vars_mixins';

.create-recipe {
  text-align: center;
  @include text;
  max-width: 85vw;
  margin: 0 auto;
  min-height: 90vh;
}

.recipe-header, .recipe-station {
  @include sub-header;
  @include column-center;
}

.recipe-ingredients, .instructions-container {
  @include column-center;
  @include text;
  table {
    border-collapse: separate;
    border-spacing: 10px;
  }
  .instruction {
    min-width: 500px;
  }
  .edit-ingredient {
    min-width: 209px;
  }
}

.ingredient-data, .instruction {
  background-color: $background-ivory;
  border-width: 1px;
  border-style: inset;
  padding: 0.5em;
  font: 400 20px system-ui;
}

.recipe-info {
  @include center-flex-row;
  input { width: 250px; }
}

.ingredients {
  @include column-center;
  div {
    width: 100%;
    min-width: 500px;
    margin: 1px;
  }
}

.specific-ingredient {
  min-width: 209px;
}

.qty, .unit {
  width: 50px;
}

.update-recipe {
  width: 233px;
  height: 60px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
}

button, .finish-recipe {
  @include sm-text;
  background-color: $background-ivory;
  margin: auto;
}

input {
  background-color: $background-ivory;
  padding: 0.5em;
  margin: 5px;
  font: 400 20px system-ui;
}
