@import 'vars_mixins';

.new-restaurant-form {
  width: 250px;
  padding: 15px;
  background-color: $background-gray;
  margin: 30px auto;
  @include column-center;
  @include sub-header;
}

.restaurant-show-details {
  @include column-center;
  @include sub-header;
}

.restaurant-prof-crop-outer {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .restaurant-profile-crop-inner {
    z-index: 1;
  }
}
