@import 'vars_mixins';

.open-card {
  z-index: 2;
}
.user-card {
  h4 {
    @include sub-header;
    font-weight: bold;
   }
  font-family: helvetica;
  position: fixed;
  z-index: 1;
  width: 0px;
  height: 100vh;
  min-height: 500px;
  background-color: $background-gray;
  box-shadow: 0px 1px 10px #8888885f;
  overflow-x: hidden;
  @include column-start;
  transition: 0.5s;
}

.yelp-reviews, .favorite-recipes {
  .h4 { background-color: #FFFFFFBA}
  min-width: 256px;
  border-radius: 3px;
  background-color: #FFFFFF9A;
  width: 85%;
}

.review, .favorite {
  h4 { margin: 0px; }
  padding: 10px;
  &:hover { background-color: #FFFFFFAA; }
}

.user-options, .user-name, .restaurant-name {
  @include sub-header;
  min-width: 256px;
  min-height: 25px;
  width: 280px;
  display: flex;
  justify-content: space-around;
}

.restaurant-name {
  font-size: 15px;
}
