---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=restaurants&location=12345&term=Best%20Test1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4978'
      Ratelimit-Resettime:
      - '2018-04-11T00:00:00+00:00'
      X-Proxied:
      - 10-65-81-72-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -73.98146152496338,
        "latitude": 42.81400092357494}}}'
  recorded_at: Tue, 10 Apr 2018 20:17:18 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Proxied:
      - 10-65-132-129-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Tue, 10 Apr 2018 20:17:18 GMT
recorded_with: VCR 4.0.0
