---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=restaurants&location=54321&term=testaurant1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4976'
      Ratelimit-Resettime:
      - '2018-04-11T00:00:00+00:00'
      X-Proxied:
      - 10-65-188-246-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": 5.8000946044921875,
        "latitude": 49.53378466563086}}}'
  recorded_at: Tue, 10 Apr 2018 20:32:34 GMT
recorded_with: VCR 4.0.0
