---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Proxied:
      - 10-65-81-72-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Mon, 09 Apr 2018 22:19:23 GMT
recorded_with: VCR 4.0.0
