---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/2ciJkwAoMAksdct4ABVv8w/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4647'
      Ratelimit-Resettime:
      - '2018-04-09T00:00:00+00:00'
      X-Proxied:
      - 10-65-81-72-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"reviews": [{"id": "ZshNcfgWdV5p4Q7qQdqWuA", "url": "https://www.yelp.com/biz/departure-denver-3?hrid=ZshNcfgWdV5p4Q7qQdqWuA&adjust_creative=_4gq9vYJtPZ12uTbllSjxg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=_4gq9vYJtPZ12uTbllSjxg",
        "text": "amazing food - crispy bass + Departure wings\n\nThis restaurant is
        great and is the only reason I would ever venture into Cherry creek.", "rating":
        5, "time_created": "2018-03-26 07:15:09", "user": {"image_url": "https://s3-media4.fl.yelpcdn.com/photo/7CytFhsnhcx9vQmUWpPTgw/o.jpg",
        "name": "James A."}}, {"id": "Gsr7X0Sy-i10hgm5_eKCmg", "url": "https://www.yelp.com/biz/departure-denver-3?hrid=Gsr7X0Sy-i10hgm5_eKCmg&adjust_creative=_4gq9vYJtPZ12uTbllSjxg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=_4gq9vYJtPZ12uTbllSjxg",
        "text": "I wish I could give Departure 6 stars! I have been here 4 times in
        the past year, and it has been consistently excellent and one of my favorite
        restaurants...", "rating": 5, "time_created": "2018-03-25 19:20:46", "user":
        {"image_url": "https://s3-media3.fl.yelpcdn.com/photo/Atd6_eMG74LLDh81kpQCxg/o.jpg",
        "name": "Katy P."}}, {"id": "2WcximL8cTmd7Sg2SOhW-w", "url": "https://www.yelp.com/biz/departure-denver-3?hrid=2WcximL8cTmd7Sg2SOhW-w&adjust_creative=_4gq9vYJtPZ12uTbllSjxg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=_4gq9vYJtPZ12uTbllSjxg",
        "text": "We just stopped by for brunch and the food was AMAZING!! The service
        was also wonderful. Our server, Shane had great energy and made our experience
        fun!...", "rating": 5, "time_created": "2018-03-24 13:38:42", "user": {"image_url":
        "https://s3-media4.fl.yelpcdn.com/photo/fNHZyTtArJF-CF6cy7J-yQ/o.jpg", "name":
        "Heidi F."}}], "total": 163, "possible_languages": ["en"]}'
  recorded_at: Sun, 08 Apr 2018 18:10:51 GMT
recorded_with: VCR 4.0.0
