---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=restaurants&location=85206&term=Testaurant12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4946'
      Ratelimit-Resettime:
      - '2018-04-10T00:00:00+00:00'
      X-Proxied:
      - 10-65-81-72-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -111.71653747558594,
        "latitude": 33.39360201766912}}}'
  recorded_at: Mon, 09 Apr 2018 22:18:39 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Proxied:
      - 10-65-123-187-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "BUSINESS_NOT_FOUND", "description": "The requested
        business could not be found."}}'
  recorded_at: Mon, 09 Apr 2018 22:18:39 GMT
recorded_with: VCR 4.0.0
