.user-nav
  = link_to "New Recipe", new_chef_restaurant_recipe_path(current_restaurant)
  = link_to "Invite New Team Member", new_notification_path
  = link_to "Recipe Stats", edit_chef_restaurant_path(current_user.restaurants.first.slug)
  = link_to "Restaurant profile", restaurant_path(current_user.restaurants.first.slug)
